# System Files
.DS_Store
Thumbs.db

# IDE and Editor Files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.vs/
*.vsidx
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build outputs
dist/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Other
.cache/
coverage/